.extra-class-model{
    /* width: 237px; */
    height: 34px;
    font-family: 'Work_Sans';
    font-style: normal;
    font-weight: 600;
    font-size: 28px !important;
    line-height: 120%;
    color: #151927;

}