.modal-header {
    border-bottom: none;
}

.modal-footer {
    border-top: none
}

a {
    font-family: 'Work_Sans';
}

label {
    font-family: 'Work_Sans';
}

/* Set Placeholder Fonts on all browsers */

/* Chrome/Opera/Safari */
::-webkit-input-placeholder {
    font-family: 'Work_Sans';
}

/* Firefox 19+ */
::-moz-placeholder {
    font-family: 'Work_Sans';
}

/* IE 10+ */
:-ms-input-placeholder {
    font-family: 'Work_Sans';
}