.modal-title-forgot-password {
    width: 230px;
    height: 34px;
    /* font-family: 'Work Sans'; */
    font-style: normal;
    font-weight: 600;
    font-size: 28px !important;
    line-height: 120%;
    color: #151927;

}

.model-forgot-password {
    width: 424px;
    height: 66px;
    /* font-family: 'Work Sans'; */
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 140%;

}